<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>welcome to Homepage</h1>
    <h2><a href="/admin/dashboard">Dashboard</a></h2>
   
    <img src="/profileImage/profile.png" alt="">
    <table>
        <tr>
            <td>Name</td>
            <td><%= adminData.name %></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><%= adminData.email %></td>
        </tr>
        <tr>
            <td>Mobile</td>
            <td><%= adminData.mobileno %></td>
        </tr>
    </table>
    <a href="/admin/logout">Logout</a>
</body>
</html>