<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
             form {
        width: 60vw;
        height: 70vh;
        margin: 15vh auto;
        padding: 2rem;
        background-color: rgb(138, 225, 7);
      }
      input{
        width: 80%;
        padding: 5px;
        border: 5px ;
        margin-top: 5px;
      }
      button{
        text-align: center;
      }
    </style>
</head>
<body>
    <img src="profileImage/profile.png" alt="profile-image">
    <form action="" method="post" >
        <input type="file" name="image">
        <input type="hidden" name="user_id" value="<%= user._id %>">
        <br>
        <br>
        <input type="text" name="name" value="<%= user.name %>" required placeholder="Enter Name">
        <br>
        <br> 
        <input type="email" name="email" value="<%= user.email %>" required placeholder="Enter Name">
        <br>
        <br> 
        <input type="text" name="mobileno" value="<%= user.mobileno %>" required placeholder="Enter Mobile">
        <br>
        <br>
      
        <input type="submit" value="Update profile">
    </form>
</body>
</html>