<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login </title>
</head>
<body>
    <form action="/login" method="post">
        <label for="email">Email</label>
        <br>
        <input type="text" name="email">
        <br>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
    <br>
    <br>
    <a href="/forget">Forget Password</a>
    <a href="/verification">Verification Mail</a>
    <% if(message){ %>
        <h3><%= message %></h3>
    <% }  %>
</body>
</html>